/* Main container */
.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #301f1fa2;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Header */
.header {
    font-size: 1.5em;
    color: #f1f1f1;
    margin-bottom: 20px;
    text-align: center;
}

/* Friend list styling */
.list {
    list-style-type: none;
    padding: 0;
}

.listItem {
    padding: 10px;
    margin-bottom: 10px;
    background-color:#62e27728;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Empty state */
.empty {
    text-align: center;
    color: #888;
    font-size: 1.2em;
    margin-top: 20px;
}
